@model Unbrickable.ViewModels.AdminPageViewModel

@section Headers{
    <script>
        $(document).ready(function () {
            $('#uname').inputmask('Regex', { regex: "^[a-zA-Z0-9_]{5,50}$" });
            $('#pword').inputmask('Regex', { regex: "^(?=.*[0-9])(?=.*[!&#64#$%^&*])[a-zA-Z0-9!&#64#$%^&*]{6,50}" });
            $('#confirm_pword').inputmask('Regex', { regex: "^(?=.*[0-9])(?=.*[!&#64#$%^&*])[a-zA-Z0-9!&#64#$%^&*]{6,50}" });
            $('#fname').inputmask('Regex', { regex: "^[a-zA-Z\\s]{5,50}$" });
            $('#lname').inputmask('Regex', { regex: "^[a-zA-Z\\s]{5,50}$" });
            $(".Gender-radio").change(function () {
                var id = $(".Gender-radio:checked").val();
                $.ajax({
                    cache: false,
                    type: "GET",
                    dataType: "json",
                    url: "/AJAX/GetSalutationList",
                    data: { "id": id }
                }).done(function (data) {
                    var items = [];
                    items.push("<option value>Salutation</option>");
                    $.each(data, function () {
                        items.push("<option value=" + this.Value + ">" + this.Text + "</option>")
                    });
                    $("#Salutation-drop-down").html(items.join(' '));
                });
            });
            $(".birth-drop-down").change(function () {
                var month = $("#birth-month-drop-down").val();
                var year = $("#birth-year-drop-down").val();
                var selected_day = $("#birth-day-drop-down").prop('selectedIndex');
                $.ajax({
                    cache: false,
                    type: "GET",
                    dataType: "json",
                    url: "/AJAX/GenerateDayList",
                    data: { "month": month, "year": year }
                }).done(function (data) {
                    var items = [];
                    $.each(data, function () {
                        items.push("<option value=" + this.Value + ">" + this.Text + "</option>")
                    });
                    $("#birth-day-drop-down").html(items.join(' '));
                    if ($("#birth-day-drop-down option").length - 1 >= selected_day) {
                        $("#birth-day-drop-down").prop('selectedIndex', selected_day);
                    }
                });
            });
            $("#download_yes").on('click', function () {
                if (selectedFile != null) {
                    $('#file_' + selectedFile).submit();
                    selectedFile = null;
                }
                $('.cd-popup').removeClass('is-visible');
            });
        });
    </script>
}

<div class="la-anim-6">
	<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="500" height="500" viewbox="0 0 500 500">
	  <path id="la-anim-6-border" transform="translate(250, 250)"/>
	  <path id="la-anim-6-loader" transform="translate(250, 250) scale(0.9)"/>
	</svg>
</div>

<div class = 'paper-container'>
	<section>
		<div class="tabs tabs-style-iconbox">
			<nav>
				<ul>
					<li><a href="#section-fillup-1" class="tab-icon icon-backups"><span>Manage Post BackUps</span></a></li>
					<li><a href="#section-fillup-2" class="tab-icon icon-users"><span>Create a User</span></a></li>
                    <li><a href="#section-fillup-2" class="tab-icon icon-sales"><span>View Transactions</span></a></li>
				</ul>
			</nav>
			<div class="content-wrap">
				<section id="section-fillup-1">
					<ul class = 'backup-list'>
                        @foreach (Unbrickable.ViewModels.BackUpViewModel buvm in Model.BackUps)
                        {
                            @Html.Partial("BackUp", buvm)
                        }						
					</ul>
					
                    <div id='la-buttons'>
                        @using (Html.BeginForm("BackUpPosts", "Application", null, FormMethod.Post, new { @id = "BackUp_form", @enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                        }
                        <button data-anim="la-anim-6" class='add-cat-btn' onclick="$('#BackUp_form').submit();"></button>
                    </div>
				</section>
				
				<section id="section-fillup-2">
					<div class='paper-container max-paper'>
						<center style="color:red;"> @Html.ValidationMessage("GeneralError") </center>
						<div class='reg-paper'>
							<h1>Create an Account.</h1>	
							@using (Html.BeginForm("AdminRegisterPage", "Application", null, FormMethod.Post, new { @id = "admin_register_form", @enctype = "multipart/form-data" }))
							{
								@Html.AntiForgeryToken()
								
								<div class='register-pane'>
									<ul class='detail-grid'>
										<li>
											<label>Username*</label>
											@Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "text-area full-entries", @id = "uname"} })
										</li>

										<li>
											<label>Password*</label>
											@Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "text-area full-entries", @type = "password", @id = "pword" } })
										</li>

										<li>
											<label>Confirm Password*</label>
											@Html.EditorFor(model => model.confirm_password, new { htmlAttributes = new { @class = "text-area full-entries", @type = "password", @id = "confirm_pword" } })
										</li>

										<li>
											<label>Full Name (First Name, Last Name)*</label>                       
											@Html.EditorFor(model => model.first_name, new { htmlAttributes = new { @class = "text-area name", @id = "fname" } })
											@Html.EditorFor(model => model.last_name, new { htmlAttributes = new { @class = "text-area name", @id = "lname" } })
										</li>

										<li>
											<label>Gender*</label>
											<div class='dd-selector'>
												@Html.RadioButtonFor(model => model.gender_id, "1", new { @id = "man", @style="display:none;", @value="upvote", @class="Gender-radio"})
												<label class='drinkcard-dd man-icon' for='man'></label>                            
												@Html.RadioButtonFor(model => model.gender_id, "2", new { @id = "woman", @style = "display:none;", @value = "downvote", @class = "Gender-radio" })
												<label class='drinkcard-dd woman-icon' for='woman'></label>
											</div>
										</li>

										<li>
											<label>Salutation*</label>
											@Html.DropDownListFor(model => model.salutation_id, Model.Salutations, "Salutation", new { @class = "sal-drop-down", @id = "Salutation-drop-down" })
										</li>       
									</ul>
								</div>

								<div class='register-pane'>
									<ul class='detail-grid'>
										<li>
											<label>Birthdate*</label>                        
											@Html.DropDownListFor(model => model.birth_day, Model.days, null, new { @class = "bday-drop-down", @id = "birth-day-drop-down"})
											@Html.DropDownListFor(model => model.birth_month, Model.months, null, new { @class = "bday-drop-down birth-drop-down", @id = "birth-month-drop-down"})
											@Html.DropDownListFor(model => model.birth_year, Model.years, null, new { @class = "bday-drop-down birth-drop-down", @id = "birth-year-drop-down"})
										</li>

										<li>
											<label>About Me*</label>
											@Html.TextAreaFor(model => model.about_me, new { @class = "text-area desc-area"})
										</li>
										
										<li>
											<label>Access Level*</label>
											@Html.DropDownListFor(model => model.access_level_id, Model.access_levels, "Access Level", new { @class = "sal-drop-down" })
										</li>
									</ul>
							</div>   
							}
                            <div class='home-nav-container'>
                                <div class='reg-btn'>
                                    <ul class='home-nav-controls'>
                                        <li onclick="window.location = '/Application/Index';">
                                            <div class='vertical-align control-label-container'>
                                                <div class='control-label'><nav>Cancel</nav></div>
                                            </div>
                                        </li>

                                        <li onclick="$('#admin_register_form').submit();">
                                            <div class='vertical-align control-label-container'>
                                                <div class='control-label'><nav>Add User</nav></div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>							
						</div>
					</div>
				</section>
                <section id="section-fillup-3">
                </section>
			</div><!-- /content -->
		</div><!-- /tabs -->
	</section>
	
	<div class="cd-popup" role="alert">
		<div class="cd-popup-container">
			<p>Are you sure you want to download this BackUp? </p>
			<ul class="cd-buttons">
				<li id="download_yes"><a href="#0">Yes</a></li>
                <li><a href="#0" onclick="$('.cd-popup').removeClass('is-visible'); selectedFile = null;">No</a></li>
			</ul>
			<a href="#0" class="cd-popup-close img-replace"></a>
		</div> <!-- cd-popup-container -->
	</div> <!-- cd-popup -->
</div>

<script type='text/javascript' src='@Url.Content("~/Scripts/classie.js")'></script>
<!--
<script>
	var loader = document.getElementById('la-anim-6-loader')
		, border = document.getElementById('la-anim-6-border')
		, ƒ¿ = 0
		, ƒÎ = Math.PI
		, t = 15
		
		, tdraw;

	function PieDraw() {
		ƒ¿++;
		ƒ¿ %= 360;
		var r = ( ƒ¿ * ƒÎ / 180 )
		, x = Math.sin( r ) * 250
		, y = Math.cos( r ) * - 250
		, mid = ( ƒ¿ > 180 ) ? 1 : 0
		, anim = 'M 0 0 v -250 A 250 250 1 ' 
			   + mid + ' 1 ' 
			   +  x  + ' ' 
			   +  y  + ' z';

		loader.setAttribute( 'd', anim );
		border.setAttribute( 'd', anim );
		if( ƒ¿ != 0 )
		tdraw = setTimeout(PieDraw, t); // Redraw
	}

	function PieReset() {
		clearTimeout(tdraw);
		var anim = 'M 0 0 v -250 A 250 250 1 0 1 0 -250 z';
		loader.setAttribute( 'd', anim );
		border.setAttribute( 'd', anim );
	}

	var inProgress = false;

	Array.prototype.slice.call( document.querySelectorAll( '#la-buttons > button' ) ).forEach( function( el, i ) {
		var anim = el.getAttribute( 'data-anim' ),
			animEl = document.querySelector( '.' + anim );

		el.addEventListener( 'click', function() {
			if( inProgress ) return false;
			inProgress = true;
			classie.add( animEl, 'la-animate' );

			if( anim === 'la-anim-6' ) {
				PieDraw();
			}

			setTimeout( function() {
				classie.remove( animEl, 'la-animate' );
				
				if( anim === 'la-anim-6' ) {
					PieReset();
				}
				
				inProgress = false;
			}, 6000 );
		} );
	} );
		
</script>	
-->
<script type='text/javascript' src='@Url.Content("~/Scripts/cbpFWTabs.js")'></script>
<script>
    (function () {

        [].slice.call(document.querySelectorAll('.tabs')).forEach(function (el) {
            new CBPFWTabs(el);
        });

    })();
</script>
