@model Unbrickable.ViewModels.ChangePasswordViewModel

@section Headers{

<script type="text/javascript">
        $(document).ready(function () {           
            $('.full-entries').inputmask('Regex', { regex: "^(?=.*[0-9])(?=.*[!&#64#$%^&*])[a-zA-Z0-9!&#64#$%^&*]{6,50}" });   
        });
</script>

}

<div class='header edit-header'>
    <div class='edit-profile-photo'>
        <div class='profile-photo'></div>
    </div>
</div>

<div class='paper-container edit-paper-container'>
    <div class='center-paper'>
        <div class='reg-paper edit-pass-page'>

            <div class='register-pane edit-detail-pane edit-password-pane'>
                <h1>Edit your password.</h1>
                <br>
                <ul class='detail-grid'>
                    @using (Html.BeginForm("ChangePassword", "Application", null, FormMethod.Post, new { @id = "password_form", @enctype = "multipart/form-data" }))
                    {
                    @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.id)
                    <li>
                        <label>Password*</label>
                        @Html.EditorFor(model => model.old_password, new { htmlAttributes = new { @class = "text-area full-entries", @type = "password" } })
                    </li>

                    <li>
                        <label>Enter New Password*</label>
                        @Html.EditorFor(model => model.new_password, new { htmlAttributes = new { @class = "text-area full-entries", @type = "password"} })
                    </li>

                    <li>
                        <label>Confirm New Password*</label>
                        @Html.EditorFor(model => model.confirm_password, new { htmlAttributes = new { @class = "text-area full-entries", @type = "password" } })
                    </li>
                    }
                </ul>
            </div>

            <div class='reg-btn'>
                <ul class='home-nav-controls'>                   
                    <li onclick="window.location = '/Application/LoggedInProfile';">
                        <div class='vertical-align control-label-container'>
                            <div class='control-label'><nav>Cancel</nav></div>
                        </div>
                    </li>
                    <li onclick="$('#password_form').submit();">
                        <div class='vertical-align control-label-container'>
                            <div class='control-label'><nav>Confirm</nav></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>