<!DOCTYPE html>
<html>
	<head>
        <link rel='stylesheet' type='text/css' href='@Url.Content("~/Content/css/tabstyles.css")'>
        <link rel='stylesheet' type='text/css' href='@Url.Content("~/Content/css/tabs.css")'>
        <link rel='stylesheet' type='text/css' href='@Url.Content("~/Content/css/component.css")'>
        <link rel='stylesheet' type='text/css' href='@Url.Content("~/Content/css/confirmation-box.css")'>
        <link rel='stylesheet' type='text/css' href='@Url.Content("~/Content/css/layout.css")'>
		<script type = 'text/javascript' src = '@Url.Content("~/Scripts/jquery-1.11.1.min.js")'></script>
		<script type='text/javascript' src='@Url.Content("~/Scripts/jquery-ui.js")'></script>
		<script type='text/javascript' src='@Url.Content("~/Scripts/inputmask.js")'></script>
		<script type='text/javascript' src='@Url.Content("~/Scripts/jquery.inputmask.js")'></script>
		<script type='text/javascript' src='@Url.Content("~/Scripts/inputmask.regex.extensions.js")'></script>	
        <script type='text/javascript' src='@Url.Content("~/Scripts/jquery.form.min.js")'></script>	
		@RenderSection("Headers", false)
        <title></title>
	</head>
	<body>
        <svg class="hidden" viewBox="0 0 610 160">
            <defs>
                <clippath id="cp_up">
                    <polygon id="cp_poly_up" points="0,0 610,0 610,160" />
                </clippath>
                <clippath id="cp_down">
                    <polygon id="cp_poly_down" points="0,0 0,160 610,160" />
                </clippath>
            </defs>
        </svg>
        <div class='header'>
            <div class='logo-pane'>
                <div class='logo-des-container'>
                    <div class='site-logo'></div>
                </div>

                <div class='logo-label'>
                    <a class="link link--urpi" href="#" data-letters="Unbrickable">Unbrickable</a>
                </div>
            </div>
            @if(Session["User"] != null){
                <div class='control-header'>
                    <section class='nav-top'>
                        <nav class='nav-top-effect'>
                            <a class='lower-nav' href='#' onclick="window.location = '/Application/Boards';">Boards</a>
                            <a class='lower-nav' href='#' onclick="window.location = '/Application/Store';">Store</a>
                            <a class='lower-nav' href='#' onclick="window.location = '/Application/LoggedInProfile';">Profile</a>
                            @if (Session["Elevation"].Equals("Administrator"))
                            {
                            <a class='lower-nav' href='#' onclick="window.location = '/Application/AdminPage';">Admin</a>
                            }
                            @using (Html.BeginForm("Logout", "Application", null, FormMethod.Post, new { @id = "logout_form", @enctype = "multipart/form-data" }))
                            {
                                @Html.AntiForgeryToken()
                            }
                            <a class='lower-nav' href='#' onclick="$('#logout_form').submit();">Logout</a>
                        </nav>
                    </section>
                    @if (Session["User"] != null)
                    {
                        
                    }
                </div>
            }
            @if (Session["User"] == null)
            {
                <div class='control-header'>
                    <section class='nav-top'>
                        <nav class='nav-top-effect'>
                            <a class='lower-nav' href='#' onclick="window.location = '/Application/Boards';">Boards</a>
                            <a class='lower-nav' href='#' onclick="window.location = '/Application/RegisterPage';">Register</a>
                            <a class='lower-nav' href='#' onclick="window.location = '/Application/LoginPage';">Login</a>
                        </nav>
                    </section>
                </div>
            }            
        </div>
        <div class='container'>
            <div class='dummy-header'></div>
            @RenderBody()
        </div>
</body>
</html>