<!DOCTYPE html>
<html>
	<head>
        <link rel='stylesheet' type='text/css' href='@Url.Content("~/Content/css/layout.css")'>
		<script type = 'text/javascript' src = '@Url.Content("~/Scripts/jquery-1.11.1.min.js")'></script>
		<script type='text/javascript' src='@Url.Content("~/Scripts/jquery-ui.js")'></script>
		<script type='text/javascript' src='@Url.Content("~/Scripts/inputmask.js")'></script>
		<script type='text/javascript' src='@Url.Content("~/Scripts/jquery.inputmask.js")'></script>
		<script type='text/javascript' src='@Url.Content("~/Scripts/inputmask.regex.extensions.js")'></script>	
        <script type='text/javascript' src='@Url.Content("~/Scripts/jquery.form.min.js")'></script>	
		@RenderSection("Headers", false)
        <title></title>
	</head>
	
	<body>
        <div class='container'>
            @RenderBody()
        </div>
	</body>
</html>