@model Unbrickable.ViewModels.TransactionDetailViewModel

    <h3>@Model.username</h3>
    <div class ="modal-container">
        <table class='transactions-table'>
            <tbody>
                <tr>
                    <th class='transactions-table-header'>Items</th>
                    <th class='transactions-table-header'>Quantity</th>
                    <th class='transactions-table-header'>Price</th>
                    <th class='transactions-table-header'>Total</th>
                </tr>
                @foreach (Unbrickable.ViewModels.TransactionItemDetailViewModel tidvm in Model.transaction_items)
                {
                    <tr>
                        <th>@tidvm.item_name</th>
                        <th class='mid'>@tidvm.item_quantity</th>
                        <th class='mid'>@String.Format("${0}", Math.Round(tidvm.item_price,2))</th>
                        <th class='mid'>@String.Format("${0}", Math.Round(tidvm.total_price,2))</th>
                    </tr>
                }           
            </tbody>
        </table>
    </div>